<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>myistra-iframe-example</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="/tacit-css.min.css"/>
    <style type="text/css">
      .wrap {
        width: 100%;
        overflow:auto;
      }

      .fleft {
        float:left;
        width: 66%;
        background:#fafafa;
        height: 800px;
      }

      .fright {
        float: right;
        background: lightgray;
        height: 800px;
        width: 34%;
        position: fixed;
        top: 0;
        right: 0;
      }

      iframe {
        float: right;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }

      div.dynamic {
        padding: 20px;
        margin: 30px;
        display: none;
      }

      div#abort {
        background-color: lightcoral;
      }

      div#run {
        background-color: lightcyan;
      }

      p {
        margin-bottom: 0;
      }

      article {
        margin: 4px;
        padding: 5px;
      }

      h2, h3 { margin-top: 5px; }

      button, input {
        width: 200px;
      }

      div.action {
        display: none;
      }

    </style>
    <script src="/api.js"></script>
  </head>
  <body>
    <!-- - A basic layout that aplit horizontally the screen -->
    <div class="wrap">

      <!-- Left panel is the main business app -->
      <div class="fleft">
        <h2>Hi, I'm the main app!</h2>
        <p>
          I do my usual stuffs, and I also load myIstra in the iframe, positionned in the right panel. <br>
          Then comes the fun, below.
        </p>
        <div id="abort" class="dynamic">
          <p>Please add a myIstra URL parameter in your query string, like:<br/>
            <code><span id="jsOrigin"></span>?myIstra=https://myIstra.myzone.com</code></p>
          <p>Otherwise, no demo! :-)</p>
        </div>
        <div id="run" class="dynamic">
          <p id="start"><button id="jsStart" type="submit">Click me</button> in order to load <code id="jsIframeUrl"></code> in the iFrame.</p>

            <div id="run-actions" style="margin-top: 50px; display: none;">
              <article>
                <h3>Actions</h3>
                <div class="action all">
                  <button id="jsPlaceCall" type="submit">place call</button> <input id="jsDestination" type="text" placeholder="destination number..."><br>
                </div>
                <div class="action acd">
                  <button id="jsACDGlobalLogIn"   type="submit">ACD Global log in</button>
                  <button id="jsACDGlobalLogOut"  type="submit">ACD Global log out</button>
                  <button id="jsACDGlobalPause"   type="submit">ACD Pause</button>
                  <button id="jsACDGlobalUnPause" type="submit">ACD Unpause</button>
                </div>
              </article>
            </div>

            <div id="run-logs" style=" margin-top: 50px; display: none;">
              <article>
                <h3>iFrame Messages</h3>
                <p>Events coming from myIstra will be marked '&larr;E'; actions submitted to myIstra will be marked 'A&rarr;'.</p>
                <table id="logs">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>A/E</th>
                      <th>Timestamp</th>
                      <th>Event</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </article>
            </div>

        </div>
      </div>

      <!-- Right panel is the myIstra URL to load, in its own iFrame -->
      <div class="fright">
        <iframe name="myIstra" allow="camera;microphone"></iframe>
      </div>
    </div>

    <!-- Now, some plumbing -->
    <script>
      // Self executing closure
      (function() {
        // Parse the given URL from the query string
        const MYISTRA_RESULT = document.location.search.match(new RegExp(/[^\?]*myIstra=([^&]*)/, 'i'));
        let MYISTRA_URL ="";
        if (MYISTRA_RESULT != null) {
          // OK, show the "run " div
          MYISTRA_URL = MYISTRA_RESULT[1];
          document.getElementById('jsIframeUrl').innerHTML = MYISTRA_URL;
          document.getElementById('run').style.display = 'block';
        } else {
          // Otherwise, shows the "abort" div
          document.getElementById('abort').style.display= 'block';
          document.getElementById('jsOrigin').innerHTML = document.location.origin;
        }

        // Wire the start button
        document.getElementById('jsStart').addEventListener("click", (e) => {
          // Loads the iFrame and hide myself
          document.getElementsByTagName('iframe')[0].setAttribute('src', MYISTRA_URL);
          document.getElementById('start').style.display = 'none';

          // Make sure the run time divs are now displayed
          document.getElementById('run-logs').style.display = 'block';
          document.getElementById('run-actions').style.display = 'block';
        }, false);

        // Add a log in the table
        const dateOptions = {
          hour: '2-digit',
          hourCycle: 'h24',
          minute: 'numeric',
          second: 'numeric'
        };

        const insertLogRow = (cols) => {
          const tds = cols.reduce((acc, cur, idx, src) => `${acc}\n<td>${cur}</td>`, '');
          const tr = `<tr>${tds}</tr>`
          document.querySelectorAll("#logs > tbody")[0].insertAdjacentHTML('afterbegin', tr);
        };

        const logEvent = (obj) => {
          insertLogRow ([
            seqID++,
            '&larr;E',
            new Date().toLocaleString("en", dateOptions),
            `<pre>${JSON.stringify(obj, '\n', 4)}</pre>`
          ]);
        };

        // Now plug the iFrame API
        let seqID = 0;
        let requestId = 0;
        let callbacks = {};
        let acdPauses = {};

        // Plug our iFrame API lsitener !
        window.addEventListener('message', (event) => {
          console.log('myIstra iFrame API', event.data);
          if (callbacks.hasOwnProperty(event.data.type)) {
            callbacks[event.data.type](event.data.content);
            delete callbacks[event.data.type];
          }

          // Log the event
          logEvent(event.data);

          // Which event type did we get ?
          switch (event.data.type) {
            case 'GENERAL_INFO':
              // Display the actions only now, when the iFrame reahed the logged in stage
              document.querySelector("div.action.all").style.display = 'block';

              // Display the ACD actions only when the ACD capability exists
              document.querySelector("div.action.acd").style.display = 'block';
              break;

            case 'GENERAL_EVENT':
              // Do something with this event...
              break;

            case 'CALL_EVENT':
              // Do something with this event...
              break;

            case 'AGENT_EVENT':
              // Do something with this event...
              break;

            case 'GROUP_EVENT':
              // Do something with this event...
              break;
          }
        });

        // Helper function to send a message
        const logAction = (obj) => {
          insertLogRow([
            seqID++,
            'A&rarr;',
            new Date().toLocaleString("en", dateOptions),
            `<pre>${JSON.stringify(obj, '\n', 4)}</pre>`
          ]);
        };

        const postAction = (data) => {
          window.frames.myIstra.postMessage(data, MYISTRA_URL);
          logAction(data);
        };

        // Now wire some buttons!
        document.getElementById('jsPlaceCall').onclick = () => {
          postAction({
            type : 'CALL',
            number : document.getElementById('jsDestination').value,
            uid : requestId++
          });
        };
        document.getElementById('jsACDGlobalLogIn').onclick = () => {
          postAction({
            type : 'ACD_LOGIN',
            uid : requestId++
          });
        };
        document.getElementById('jsACDGlobalLogOut').onclick = () => {
          postAction({
            type : 'ACD_LOGOUT',
            uid : requestId++
          });
        };
        document.getElementById('jsACDGlobalPause').onclick = () => {
          var data = {
            type : 'ACD_PAUSE',
            uid : requestId++
          };

          // Do we have some ACd pauses defined that we can use ?
          if (acdPauses && acdPauses.length > 0) {
            // Yes, arbitrarily set the pause as the first one from the list
            data.acdPauseReasonID = acdPauses[0].acdPauseReasonID;
          }
          postAction(data, MYISTRA_URL);
        };
        document.getElementById('jsACDGlobalUnPause').onclick = () => {
          postAction({
            type : 'ACD_UNPAUSE',
            uid : requestId++
          });
        };

      })();
    </script>
  </body>
</html>
